.loginParent{
    background-color: rgb(143, 122, 247);
    height: 100vh;
}
.loginDiv{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}