.fitHome{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.fitHomeFirst{
    height: 70vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: left;
    background-color: blueviolet;
    border-radius: 0 0 0 50px;
    
    
}
.fitHomeSecond{
    display: flex;
    height: 70vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://www.realsimple.com/thmb/pYf8k5LM6kpVahv_rxeIn3Sx-n0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/how-to-start-working-out-2000-519605fa9fba46fb9d87132b99698917.jpg');
    background-size: cover;
    border-radius: 0 50px 0 0px;
}

.welcome{
    color: rgb(244, 240, 255);
    font-weight: 700;
    font-size: 5rem;
    text-align: center;
}

.start{
    text-align: center;
    color: rgb(167, 167, 175);
    font-size: 1.5rem;
}

.loginBtnHome,.signUpBtnHome {
    width: 200px;
    color: black;
    background-color: white;
    border: none;
}

.signUpBtnHome:hover{
    background-color: rgb(177, 113, 237);
}

.loginBtnHome:hover{
    background-color: rgb(177, 113, 237);
}

@media screen and (max-width:840px){
   .welcome{
    font-size: 25px;
   }
   .start{
    font-size: 15px;
    color: white;
   }

    .fitHome{
        grid-template-columns: 1fr;
    }

    .fitHomeFirst{
        border-radius: 0 0px 0 0px;
        height: 50vh;
        background-image: url('https://www.realsimple.com/thmb/pYf8k5LM6kpVahv_rxeIn3Sx-n0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/how-to-start-working-out-2000-519605fa9fba46fb9d87132b99698917.jpg');

    }
    .fitHomeSecond{
        height: 50vh;
        border-radius: 0 0px 0 0px;
        background-image: none;
    }

    .loginBtnHome{
        background-color: rgb(0, 0, 0);
        color: white;
    }

    .signUpBtnHome{
       border: 1px solid black;
        color: black;
    }
}

